# vim: set ts=2 et:
# IMPORTANT: ALL MODIFICATIONS SHOULD BE MADE TO THE TEMPLATE THEN REGENERATE
#            THE BUNDLE WITH generate-bundle.sh <series> [<os-release>] [<pocket>]
# Juju 2.x native deployer bundle for development ('next') charms

## Variables
debug:                      &debug                     True
verbose:                    &verbose                   True
os_admin_network:           &os_admin_network          10.5.0.0/16
os_internal_network:        &os_internal_network       10.5.0.0/16
os_public_network:          &os_public_network         10.5.0.0/16
ks_vips:                    &ks_vips                   10.5.150.1

series: __SERIES__
services:
  rabbitmq-server:
    num_units: 1
    charm: cs:~openstack-charmers-next/rabbitmq-server
    constraints: mem=1G
    options:
      source: cloud:__SERIES__-__RELEASE____POCKET__
      ssl: 'only'
  keystone:
    num_units: 3
    charm: cs:~openstack-charmers-next/keystone
    constraints: mem=1G
    options:
      debug: *debug
      verbose: *verbose
      admin-password: openstack
      admin-token: ubuntutesting
      openstack-origin: cloud:__SERIES__-__RELEASE____POCKET__
      vip: *ks_vips
      os-admin-network: *os_admin_network
      os-internal-network: *os_internal_network
      os-public-network: *os_public_network
      ssl_cert: |
        LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNvekNDQWd3Q0NRQzlTNjBSZzdQUDBEQU5C
        Z2txaGtpRzl3MEJBUXNGQURCck1ROHdEUVlEVlFRS0V3WlYKWW5WdWRIVXhLekFwQmdOVkJBc1RJ
        bFZpZFc1MGRTQkRiRzkxWkNCRFpYSjBhV1pwWTJGMFpTQkJkWFJvYjNKcApkSGt4S3pBcEJnTlZC
        QU1USWxWaWRXNTBkU0JEYkc5MVpDQkRaWEowYVdacFkyRjBaU0JCZFhSb2IzSnBkSGt3CkhoY05N
        VFV3TXpFM01qQXpOekE0V2hjTk1UWXdNekUyTWpBek56QTRXakE5TVE4d0RRWURWUVFLREFaVllu
        VnUKZEhVeEZUQVRCZ05WQkFzTURGVmlkVzUwZFNCRGJHOTFaREVUTUJFR0ExVUVBd3dLTVRBdU5T
        NHhNREF1TVRDQwpBU0l3RFFZSktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ0VCQUxjVzBE
        aFNvT1Jta3JBbi9xeW5lZmxDCm93cTBGdm4wYVoxZ2EydEwwbzJ0WWN5MTBMOTJvU1VVblhDOFp3
        QUEvckNsSDFaWm1WVmVibFZJWE9CUzZZcHkKOElsRC9URGpNVUFoejE5QmRuMnZYZzN2RkRiY3ZI
        YWdQcWJOcmk0UExqclF5bW55LzRaL2VoRUt3KytyelFBZgozZVZWb21tZHhqcDd3NWlRTjl2S291
        RlFKaUNlMUlCTDRzcEpUVTk3T1dSUm1aeEdGRUlIb3RoWkdNZ0JoUEtJCjZPZDZkTklSVHJ3cXht
        V1Q1YXcyRWRXbFJsbWlOci9nM2h3WGlFYm1Mc1ZUakQ2Ny9RNmFlc2kyUDdUYUY1OVIKZ1RWODd2
        NVZMRW1leFA5eWszYWdMY2E3ekRCaVA0TkxTUTJvRURGRTQwbU1OZ2xlWExHTy82RGlJcVE5d3FF
        QwpBd0VBQVRBTkJna3Foa2lHOXcwQkFRc0ZBQU9CZ1FCVG5UUVJPVU1nblRtNHVRbm5HSnpMS3Jn
        aEoyVWI5eGg3CmhWcXdpbGNQc2hIYU9oU3o4MzFoYlk2d2xvR0hoNUxkbWlMNU9GQ3FVMk9zRmlq
        eHdVNGlvQmg2NFRqcTY0a04KYzlmRHVCbGxKK0FqSmMvRW9PZUVEbXdsSzJRUTUwYUNFU3p4a1Y0
        V0lVOGtZQmc3dERzQUU2d3N3RmYvM0VXZwpXRk1HT3RFempRPT0KLS0tLS1FTkQgQ0VSVElGSUNB
        VEUtLS0tLQo=
      ssl_key: |
        LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2UUlCQURBTkJna3Foa2lHOXcwQkFRRUZB
        QVNDQktjd2dnU2pBZ0VBQW9JQkFRQzNGdEE0VXFEa1pwS3cKSi82c3AzbjVRcU1LdEJiNTlHbWRZ
        R3RyUzlLTnJXSE10ZEMvZHFFbEZKMXd2R2NBQVA2d3BSOVdXWmxWWG01VgpTRnpnVXVtS2N2Q0pR
        LzB3NHpGQUljOWZRWFo5cjE0Tjd4UTIzTHgyb0Q2bXphNHVEeTQ2ME1wcDh2K0dmM29SCkNzUHZx
        ODBBSDkzbFZhSnBuY1k2ZThPWWtEZmJ5cUxoVUNZZ250U0FTK0xLU1UxUGV6bGtVWm1jUmhSQ0I2
        TFkKV1JqSUFZVHlpT2puZW5UU0VVNjhLc1psaytXc05oSFZwVVpab2phLzRONGNGNGhHNWk3RlU0
        dyt1LzBPbW5ySQp0aiswMmhlZlVZRTFmTzcrVlN4Sm5zVC9jcE4yb0MzR3U4d3dZaitEUzBrTnFC
        QXhST05KakRZSlhseXhqditnCjRpS2tQY0toQWdNQkFBRUNnZ0VBWWhNa1lxZFFiRWpOMXZMMXAw
        TG5RYkNDYWQ5aVYyNm5qSmZ6c3J3aEE2ZVcKdGZQRzZHa0JsVDFmd040TFJxTkJ5eG9JbVZiUm5q
        dEJXd215UnEvalRqaVh4TS9ZdHZGY2xvQUY5MzYzbkVmdQpXQVJ6alpmY2xLYnVLS2dRMzdkZUNq
        K0J6aE5POFpzanBqRmdGK2l0bloxMFhiN3JpeXZxM2JVaVozMEpqd0FxClVnY2QvUmd4MDMxaXFW
        ZW4yYk1HQ2RWZjQzMWhJYno4bzFKUThoenU3YXNNc0huSlNrYTZZazNtREVoSlpBSE0KQ2IyaWNP
        Q0YvU1FpZjZhYlFUZHllWnVXNmZLcW1pZUtiVTlXQ1RlSlVNTkM2VUF1bnZ3YTEya2hwZWxxeUVS
        SgpPbzRRL0FGaFYzRUpsUDJjTHBtU1JaSjgvQ2JvdHBleHMzOXhQeGpOaVFLQmdRRHJhWFdWTWFR
        WTFzRCtUVnFjCkl2MTQwKzg3QWgyeWRMeUd0YlVrMDdwaVRVdzdBQkJoOE9ISCtPT24wQ2VkZUZw
        TFVlMFVoM0pKc1FwYlIxTGgKUkxSODVmaTd6eWRKOEsrMHZhZmQ5SXVnR1dTRTRFQ1U2ZFBvaFFE
        WUVYWUtMQXE2NkYwRXJqbk9RWUVGUWljUQpGWnl5elRpSWliVDRZSXI2ZGVaMGxkbFJsd0tCZ1FE
        SEdldDBhMklPakRnVXlVZUlGR1F6eGtja2VoOERxb0k4CmQzaVArWm9ncUZmNmpHZDZ2QlV5WHJP
        anNiYmF2cGRjRkxoVEZaYmJQUDhsVlFQdGNCeVVMMzdjOENVNkloM0oKSFVKZGkvN1JUWE5pSU5y
        dDAzODVZekY3bGk0OElLa1Jndm1VM3ZEMzFmcThaS1ZoUkkydTVSaDllMjdZQU9wSwppWWFFbW5t
        a2h3S0JnUURONDVCSkNmK0JFZUg5Qjk1bGpGeXZubnd1MmF6cmRSbWxuNnBzS1Jsci9EcmRwektz
        CjFpWkI1VFlHZ1JFRXNrd1diL0t2Nzc1UElSM3pzeStUZ2FseFN4ajkrVEZkZzduSWs4OExXbVA3
        Zy9uY0ZOMm0KMzlMTUcvY2ZBamFBc3dBM2RCNVdoNkphK0FORmZCUDZCMHpqUElWak5UMG50aGdX
        OGFLNitJdjJ4UUtCZ0hpbQpxbG9ZSUltMFN0Kzl3VTBqSGoySnI5N1k2aVpza3hOVlNvZmt0NU9H
        c0JteUw1cmVrdkc5RlpyaXZHMytCUGJWCno0VDVsanN3MFdTc0NmOCthdk1aZlFVaHVVMXJFeVdt
        UjJzc3hMUE0vVmkvbEN0K2VLQXNEZlpZWVpncUtvbmsKRnA0eUkwL3NLVTgwcGtzMUlhNlVRYXo0
        dVlqSHRUS0orQ3d1OS92TkFvR0FEZ3FyMFVOamIzT1JhNzlqcHNRRApPVmpiZGtTUEJybHlXVEky
        STJnNVZhTzVmUWRiaFFRYkhSK3Qzb2pHVzZPQStOR3l2NllBRk5PNkR6TFFtSXE0Cm14N1VrNy9n
        RG5pM01Pay9oSzRUY3VjbkFDQjhLUkRpQWd0cjhtdmJZTjBhTjI4WngrVXQyRW9sVGh4UGxSeVQK
        V3NSU1p2ZU0wdzVMMWpJVVFFSmdvMnM9Ci0tLS0tRU5EIFBSSVZBVEUgS0VZLS0tLS0K
      ssl_ca: |
        LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN0RENDQWgyZ0F3SUJBZ0lKQUllb25yc0RB
        bzFaTUEwR0NTcUdTSWIzRFFFQkJRVUFNR3N4RHpBTkJnTlYKQkFvVEJsVmlkVzUwZFRFck1Da0dB
        MVVFQ3hNaVZXSjFiblIxSUVOc2IzVmtJRU5sY25ScFptbGpZWFJsSUVGMQpkR2h2Y21sMGVURXJN
        Q2tHQTFVRUF4TWlWV0oxYm5SMUlFTnNiM1ZrSUVObGNuUnBabWxqWVhSbElFRjFkR2h2CmNtbDBl
        VEFlRncweE5UQXpNVGN5TURNM01EaGFGdzB4TmpBek1UWXlNRE0zTURoYU1Hc3hEekFOQmdOVkJB
        b1QKQmxWaWRXNTBkVEVyTUNrR0ExVUVDeE1pVldKMWJuUjFJRU5zYjNWa0lFTmxjblJwWm1sallY
        UmxJRUYxZEdodgpjbWwwZVRFck1Da0dBMVVFQXhNaVZXSjFiblIxSUVOc2IzVmtJRU5sY25ScFpt
        bGpZWFJsSUVGMWRHaHZjbWwwCmVUQ0JuekFOQmdrcWhraUc5dzBCQVFFRkFBT0JqUUF3Z1lrQ2dZ
        RUEwcmw2dGI0ejR2ZERBUlpIVzJEa3Z1Tm8KelVWUU81eFFieHZ0emJTOWdVc0FSUXJnQXVDdkpT
        NjVLM0QwNHZUTGxidkt5cXl4dGVuY29SajE2ZUdiK3FZdQpudkdma2dDRHAyVlQ4U2lxZkRoNDFU
        VmxiZHIvcEgrbGdnRGUrMGc5SW1JdnpCRnZOekxFOFFGUDJJa0pQUlJ4CnI2QnVWWGx4bHVWdVpD
        ZmEyLzhDQXdFQUFhTmdNRjR3RHdZRFZSMFRBUUgvQkFVd0F3RUIvekFkQmdOVkhRNEUKRmdRVUd3
        Q2dXYlVXTWpWYU1HR1pJK3hiV3VwWXVMb3dId1lEVlIwakJCZ3dGb0FVR3dDZ1diVVdNalZhTUdH
        WgpJK3hiV3VwWXVMb3dDd1lEVlIwUEJBUURBZ0VHTUEwR0NTcUdTSWIzRFFFQkJRVUFBNEdCQU1R
        YUErS1FqM3ZQCnhzVlRJeEQ2RnQyVTIrd1k3UDZjYmtXbDBpRjIrRTJROEVKdXEybWVEK3NzV3ky
        TkxhV1lPQlQzMFE2T3NFeTUKOUVsRDk0d3A3L3Bqczd1bzZZdUwzbWZ3TksyR2pjLzI4RTd2OUJq
        SVNHbkZxNFR5Ty9sL0oxY2JhYlpFWkFuUworb0ZsZkdOSURkN3dCRGdZeXY2MXFzRGNpVkh0d3oz
        SwotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
  keystone-hacluster:
    num_units: 0
    charm: cs:~openstack-charmers-next/hacluster
  openstack-dashboard:
    num_units: 1
    charm: cs:~openstack-charmers-next/openstack-dashboard
    constraints: mem=1G
    options:
      openstack-origin: cloud:__SERIES__-__RELEASE____POCKET__
  nova-compute:
    charm: cs:~openstack-charmers-next/nova-compute
    num_units: 3
    constraints: mem=4G
    options:
      debug: *debug
      verbose: *verbose
      enable-live-migration: True
      enable-resize: True
      migration-auth-type: ssh
      openstack-origin: cloud:__SERIES__-__RELEASE____POCKET__
      os-internal-network: *os_internal_network
  nova-cloud-controller:
    num_units: 1
    charm: cs:~openstack-charmers-next/nova-cloud-controller
    constraints: mem=1G
    options:
      debug: *debug
      verbose: *verbose
      network-manager: Neutron
      openstack-origin: cloud:__SERIES__-__RELEASE____POCKET__
      os-admin-network: *os_admin_network
      os-internal-network: *os_internal_network
      os-public-network: *os_public_network
      ssl_cert: |
        LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNvekNDQWd3Q0NRQzlTNjBSZzdQUDFUQU5C
        Z2txaGtpRzl3MEJBUXNGQURCck1ROHdEUVlEVlFRS0V3WlYKWW5WdWRIVXhLekFwQmdOVkJBc1RJ
        bFZpZFc1MGRTQkRiRzkxWkNCRFpYSjBhV1pwWTJGMFpTQkJkWFJvYjNKcApkSGt4S3pBcEJnTlZC
        QU1USWxWaWRXNTBkU0JEYkc5MVpDQkRaWEowYVdacFkyRjBaU0JCZFhSb2IzSnBkSGt3CkhoY05N
        VFV3TXpFM01qQXpOekV3V2hjTk1UWXdNekUyTWpBek56RXdXakE5TVE4d0RRWURWUVFLREFaVllu
        VnUKZEhVeEZUQVRCZ05WQkFzTURGVmlkVzUwZFNCRGJHOTFaREVUTUJFR0ExVUVBd3dLTVRBdU5T
        NHhNREF1TnpDQwpBU0l3RFFZSktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ0VCQUxIYXpo
        bTlvRWhoajkyVERod2pSYzdrClpjcVZyT1l1WEZFSkdrb0hLVmE2SDJSSGtvZW5MY09YNnFrVEhL
        NW1LUXVvTUJKUXV3ZXNzSXVMYVlCTE9lREwKazdicDI5RVBYd0ljd3craVA3ZUFkVFdNeG92QW1J
        QVlMNmNzUUFCMEswcEVVeC9NT2RmdmdtaVdVQ2c4ejFacwoyRmE4Q3JEODNQZlRhemhBM25mcWw2
        bTZBTFd3Sjk1SGRaTjQ3MnJRdFVQU1BuS2NJdGJld243UWRnZUdmUm00CmN5V2VKbkdmSy8yS0NH
        SHpVQUJNTXlUcjJ2b0taTHN6QVBWa2p6L2REUHpOd0VVVjM4WDU4LzdaZXRIL3ZQak8KemxUYnY1
        WERQYmpPdEVVNjN2YjVwcjFqRVdEVTRCcGFjdWlBaTl6Q2dUTUFscmF6SkdVYUtMWmhISkNCTXI4
        QwpBd0VBQVRBTkJna3Foa2lHOXcwQkFRc0ZBQU9CZ1FCUVg4NU5mSzBTQ2t5WjJhNUhXN05zYlRu
        TDRESmhGbk1NCkFJak1wQ1dCbXBUbk1EcUpyQ0dySmlEaEdENUlYRk93QUk1Unhmc3RyRGhCL25o
        RjlRakJCRlNZa2FLR29TR1gKa3pwcWFIOEN4TVM3Rlh3Z2FTQUl3NURELzBwN1l2eVdtUHZrNHVw
        TThPS3gvbm8zYjRzN1p4OGNsZThsTDAvVgo5Z1Y1QjlhVit3PT0KLS0tLS1FTkQgQ0VSVElGSUNB
        VEUtLS0tLQo=
      ssl_key: |
        LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2UUlCQURBTkJna3Foa2lHOXcwQkFRRUZB
        QVNDQktjd2dnU2pBZ0VBQW9JQkFRQ3gyczRadmFCSVlZL2QKa3c0Y0kwWE81R1hLbGF6bUxseFJD
        UnBLQnlsV3VoOWtSNUtIcHkzRGwrcXBFeHl1WmlrTHFEQVNVTHNIckxDTAppMm1BU3puZ3k1TzI2
        ZHZSRDE4Q0hNTVBvaiszZ0hVMWpNYUx3SmlBR0MrbkxFQUFkQ3RLUkZNZnpEblg3NEpvCmxsQW9Q
        TTlXYk5oV3ZBcXcvTnozMDJzNFFONTM2cGVwdWdDMXNDZmVSM1dUZU85cTBMVkQwajV5bkNMVzNz
        SisKMEhZSGhuMFp1SE1sbmlaeG55djlpZ2hoODFBQVRETWs2OXI2Q21TN013RDFaSTgvM1F6OHpj
        QkZGZC9GK2ZQKwoyWHJSLzd6NHpzNVUyNytWd3oyNHpyUkZPdDcyK2FhOVl4RmcxT0FhV25Mb2dJ
        dmN3b0V6QUphMnN5UmxHaWkyCllSeVFnVEsvQWdNQkFBRUNnZ0VBTmJLMVpXb3VXWXd6VHBmV3U4
        SWVrbys4K0FSbTFueUszT0Nkc2xvbExnMDEKNnlYODVMNGlBQnIrKzV0TW5vOHp0MVJKWjA0K21k
        dVcxaHI2ZUlTOTdkUXBQaUd2ZjVoZmZCakpBQkJob25yRAphSzZmUjVTWHRwMFd6aWQ3RDJnRHBn
        R3BBMEc2K1NwVU9sV2Z6L1pFTjNqWGZLQjdyZUk2cVF5Skk4dmFIMlFSCkRtSWlqSnVRdlk0U3Vh
        TjBZVFZLVDc4c0dvSjYyWGV5N3B1L1d3SFpvazlpYlZvZkYyQkZUOUJWckt1OCtCRmMKRjFySWRM
        M2NCVXZ1YVRSUkYvVFRDMzJqV0xJV0tQSDQ0NXkyNzZvTFhXMlNhZ2tqRDFaWkxDL2Q3TnZTSmlv
        UApNa2t6ZXRyKy9HRkNqaytocUdvMW93SjlMeUdBYVdjZTE0MXg0ZSt3TVFLQmdRRGJXZHVVOS9D
        NUxNRmt0QmtDCkxBMFFHTklBRGJOYndWWEJuYzBVdkdnRGUwUEJmelFqVHpGemI4Q1lkMGNaSGps
        eitURDViZTRzbWdLNkY3Z0oKNUxzQUNTL0NtcWdDMjFUNDhFN0VQYnpqWXpQOE9CSm9uQXRwdXk4
        UllwR1Jzd0QzTFNOSTRIY0tUMUx3TzBELwpzVElJdS9FVEgvM09wbUNBTVhVRldOT0lWd0tCZ1FE
        UGtnNWJNblZFdkJJRjlQQ08ydjRHMWJqRHJ2SFhxSG0zCi94V3pUeXA1R1hFMFFxdHJncGNxS05N
        dm1sWXV5VnVZN2kvRGNuMUV4K0V4SVBEa3JaWXF6dGJRMVAwbW5CeEIKbktmWGpYdGpQOUNyZkR2
        K1FVSStMVm0rc1RkbHZuYTFSd3JCRmx4d25WNWpkcUtxRVp6ajRucytsVjNybENwOApUVlo0OVNI
        SDJRS0JnUURNWjBUdTRjbHAxYUgyQkxuVlExVjg3WlFyeHBpZjVWN1RpUWhGelhnajNtYjZWbDR3
        CmxTaWd5TCt4bEYwbHMvdVg3ZHZNWTd0eHhxYko0VFozeWJUVXlMcS8zcnkzeE1tL0hMaFp1S3Bm
        UHQ5L3BvVEoKQkxqQjgxTmVJUHREeVlvWnkrODRoeXVHNlBxQnNNWFdQN28vVjF2RUZhaS9QRjFx
        dUN1ekt0NGNDd0tCZ0Y2QQo4d1JXYnNuQ2pyb2prTHFadmZwQ3FBSi96aUFQMW9zTkdrWXZEdmxm
        dWdpL0tlaWk1a3dObGtrZ0RZanpxRDV5CmcxQ0srYm1zL3p3czhVQk1RQWh4YjZCWXVJRXhwalBC
        TFRHWWVzcnZMUVJHWmRJV3lDQWk2YTlHWkNCd25QOWYKdnVlMlZKUDVNaFk2MTBoekNHbEFuamdh
        TFU2cWdNVmpPTEdOZWJuUkFvR0FKbFcrZVMzRStaVC9vZnlVdU5HVApiL205cFJrNlhvWGs1L09w
        MklJWHBmUEJJZXBYTzV3M2pJYVQ5VWpsOWp1NDZaK21nRHRqY1FIdTI5dkNNRmRUCjI4R1JQYS9D
        N0JSNDN5dTVNYzJ5OUdOdFFBaWdvRysxN2ZGd09MOEpVb24wbklOV3Z6ZWJLRlhwNUVJbmJvVHoK
        eC9VQ3FncG5LYytxcUV3RFRPWmhzcGs9Ci0tLS0tRU5EIFBSSVZBVEUgS0VZLS0tLS0K
      ssl_ca: |
        LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN0RENDQWgyZ0F3SUJBZ0lKQUllb25yc0RB
        bzFaTUEwR0NTcUdTSWIzRFFFQkJRVUFNR3N4RHpBTkJnTlYKQkFvVEJsVmlkVzUwZFRFck1Da0dB
        MVVFQ3hNaVZXSjFiblIxSUVOc2IzVmtJRU5sY25ScFptbGpZWFJsSUVGMQpkR2h2Y21sMGVURXJN
        Q2tHQTFVRUF4TWlWV0oxYm5SMUlFTnNiM1ZrSUVObGNuUnBabWxqWVhSbElFRjFkR2h2CmNtbDBl
        VEFlRncweE5UQXpNVGN5TURNM01EaGFGdzB4TmpBek1UWXlNRE0zTURoYU1Hc3hEekFOQmdOVkJB
        b1QKQmxWaWRXNTBkVEVyTUNrR0ExVUVDeE1pVldKMWJuUjFJRU5zYjNWa0lFTmxjblJwWm1sallY
        UmxJRUYxZEdodgpjbWwwZVRFck1Da0dBMVVFQXhNaVZXSjFiblIxSUVOc2IzVmtJRU5sY25ScFpt
        bGpZWFJsSUVGMWRHaHZjbWwwCmVUQ0JuekFOQmdrcWhraUc5dzBCQVFFRkFBT0JqUUF3Z1lrQ2dZ
        RUEwcmw2dGI0ejR2ZERBUlpIVzJEa3Z1Tm8KelVWUU81eFFieHZ0emJTOWdVc0FSUXJnQXVDdkpT
        NjVLM0QwNHZUTGxidkt5cXl4dGVuY29SajE2ZUdiK3FZdQpudkdma2dDRHAyVlQ4U2lxZkRoNDFU
        VmxiZHIvcEgrbGdnRGUrMGc5SW1JdnpCRnZOekxFOFFGUDJJa0pQUlJ4CnI2QnVWWGx4bHVWdVpD
        ZmEyLzhDQXdFQUFhTmdNRjR3RHdZRFZSMFRBUUgvQkFVd0F3RUIvekFkQmdOVkhRNEUKRmdRVUd3
        Q2dXYlVXTWpWYU1HR1pJK3hiV3VwWXVMb3dId1lEVlIwakJCZ3dGb0FVR3dDZ1diVVdNalZhTUdH
        WgpJK3hiV3VwWXVMb3dDd1lEVlIwUEJBUURBZ0VHTUEwR0NTcUdTSWIzRFFFQkJRVUFBNEdCQU1R
        YUErS1FqM3ZQCnhzVlRJeEQ2RnQyVTIrd1k3UDZjYmtXbDBpRjIrRTJROEVKdXEybWVEK3NzV3ky
        TkxhV1lPQlQzMFE2T3NFeTUKOUVsRDk0d3A3L3Bqczd1bzZZdUwzbWZ3TksyR2pjLzI4RTd2OUJq
        SVNHbkZxNFR5Ty9sL0oxY2JhYlpFWkFuUworb0ZsZkdOSURkN3dCRGdZeXY2MXFzRGNpVkh0d3oz
        SwotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
  neutron-gateway:
    num_units: 1
    charm: cs:~openstack-charmers-next/neutron-gateway
    constraints: mem=4G
    options:
      debug: *debug
      verbose: *verbose
      instance-mtu: 1300
      bridge-mappings: physnet1:br-ex
      openstack-origin: cloud:__SERIES__-__RELEASE____POCKET__
  neutron-api:
    num_units: 1
    charm: cs:~openstack-charmers-next/neutron-api
    constraints: mem=1G
    options:
      debug: *debug
      verbose: *verbose
      neutron-security-groups: True
      flat-network-providers: physnet1
      openstack-origin: cloud:__SERIES__-__RELEASE____POCKET__
      os-admin-network: *os_admin_network
      os-internal-network: *os_internal_network
      os-public-network: *os_public_network
      ssl_cert: |
        LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNvekNDQWd3Q0NRQzlTNjBSZzdQUDFEQU5C
        Z2txaGtpRzl3MEJBUXNGQURCck1ROHdEUVlEVlFRS0V3WlYKWW5WdWRIVXhLekFwQmdOVkJBc1RJ
        bFZpZFc1MGRTQkRiRzkxWkNCRFpYSjBhV1pwWTJGMFpTQkJkWFJvYjNKcApkSGt4S3pBcEJnTlZC
        QU1USWxWaWRXNTBkU0JEYkc5MVpDQkRaWEowYVdacFkyRjBaU0JCZFhSb2IzSnBkSGt3CkhoY05N
        VFV3TXpFM01qQXpOekE1V2hjTk1UWXdNekUyTWpBek56QTVXakE5TVE4d0RRWURWUVFLREFaVllu
        VnUKZEhVeEZUQVRCZ05WQkFzTURGVmlkVzUwZFNCRGJHOTFaREVUTUJFR0ExVUVBd3dLTVRBdU5T
        NHhNREF1TmpDQwpBU0l3RFFZSktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ0VCQUwrVDNo
        TzQ3azVaaW1OZGIxRTAwRWw4CjFvVkV4RVBtQVBiUytOK0xEZ2M2UTlwUTlxSGxRTVJPNU1acDZT
        clBrOS9zSWJRbmFSSklQeVlJZWN5LzIzMk0KM1YwTkdxV2JFR2daWVBEUVh2YlRTckxiN0ZhTkR2
        UnZ1Zkl4ODNyN3VlaE1raXN4Rm41Y2J0a3BLLzIvOFowaQpDQnZzOC9sODREVndkRnV0UGl2VC9H
        ZFhxeWkvZkRRMVBTR2FEZU9WVkVLam9DMFRVTlJIUjlMTE0xcEpTMHJmCmZGZkdXR1Y5WG4yeTVT
        UjVoWmRtNk51MEEweFNsTlc2RUYvUXRoTHFpS2tXMkcyaXNzRXo1N0x2RSt5dWVOYWEKY0sxNVQy
        ZDdFcHE2RlpDY04yNENQNE5ic2V4Q1lnRHkvUlRsUDlua0VsOGNGb25nSVRVdENlSDFyYVdlZGww
        QwpBd0VBQVRBTkJna3Foa2lHOXcwQkFRc0ZBQU9CZ1FCRWRCYmNtR3oxYTIxdmxCTDcveGZVR1JQ
        UUNDVyswZUxoCjBmaWl6aGNmSEp3dVhsTkZnVkFMb2lmdG1pMnRZMk4wUEFqRTlXOFYzdUZjUmdH
        YytWVGY0bGVid0ZndStqOU4KQUZQRXAvNUhaTjl3TFViZkdNL25abHhtRXE4WkEvTVQwY3pMUWd2
        dzdzOWpoYUhVR2x1NFNYYXM3eWxTVzExdQpySGw4WXVRaXBnPT0KLS0tLS1FTkQgQ0VSVElGSUNB
        VEUtLS0tLQo=
      ssl_key: |
        LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2Z0lCQURBTkJna3Foa2lHOXcwQkFRRUZB
        QVNDQktnd2dnU2tBZ0VBQW9JQkFRQy9rOTRUdU81T1dZcGoKWFc5Uk5OQkpmTmFGUk1SRDVnRDIw
        dmpmaXc0SE9rUGFVUGFoNVVERVR1VEdhZWtxejVQZjdDRzBKMmtTU0Q4bQpDSG5Ndjl0OWpOMWRE
        UnFsbXhCb0dXRHcwRjcyMDBxeTIreFdqUTcwYjdueU1mTjYrN25vVEpJck1SWitYRzdaCktTdjl2
        L0dkSWdnYjdQUDVmT0ExY0hSYnJUNHIwL3huVjZzb3YzdzBOVDBobWczamxWUkNvNkF0RTFEVVIw
        ZlMKeXpOYVNVdEszM3hYeGxobGZWNTlzdVVrZVlXWFp1amJ0QU5NVXBUVnVoQmYwTFlTNm9pcEZ0
        aHRvckxCTStleQo3eFBzcm5qV21uQ3RlVTluZXhLYXVoV1FuRGR1QWorRFc3SHNRbUlBOHYwVTVU
        L1o1QkpmSEJhSjRDRTFMUW5oCjlhMmxublpkQWdNQkFBRUNnZ0VBUGlLdmZLWVdaTU1WNTNSK2ps
        QWEzanJuT1FJOHhlanJseUtHSmJyc0tkdnoKOWZNY2l4WFlFOU9pejllNkVIQ1MvYVdRcU9XL1pu
        YVlSTFdyQzRXT293SDFLaUQ5NjRpSG9idlpmVUdZQzJZcwpiQ1o0V1BvWFI2Q1ZKc0Njdjk2MVJX
        clFYY0htRWNYWkRnWVVocENpeE53czFTSGRYNlhvOG13dTBTMDNaTzhrCnpsRE53VU1ld20zc2pR
        aDRWREFMb1lkNEFiUVB3QjA0dDR6OTdjR2Z2UkhhRzdoQnNWbWVvVDl4THZVVVcrbTMKa3pFelRB
        Kzlpd2RrUWJxL3R5UWZBY0pYWmc5NWpIVDNuRjAyRC96Sm4xV055VXdCTkZwSHRBdkZSQ210Mmpx
        bwpZNjVtbk5iM1JFQWRReUNYZExTbnNJQ3JJRGdTaDdPSXhqM1IrVVAwQVFLQmdRRGtGWkltMVVn
        SDhlTWZqaWRwCnZha0l0akVwbGI5ZFBXWnhiQytvUWpBYmdUWEdoVXFKZkVUL0hzRkQ1N2FiM0lu
        ME9FWjRRNnZaaVlMV3Q4OGcKZXhDeDAwaGNxaEdNaDByeERjWW1naGRGWHROVmwxTEgyeVVwRHNJ
        V05GbStXOHZtUXlCaE1walNwSG1CYWhkeQpheXl5bHl5QzFCODY0a3RueVlXWkYvNW9ZUUtCZ1FE
        WEJuU0kxRjhUMTh4bElMdFNBS0dnYWRJRjhkamxZREE0CkkwbDc3eWZEL1JnaTZ6ZUhISWpURFVO
        T0FzZXd4b3RtOGlMTFZPeGZjWW93eDFUb3VFWkJJa3FwNlE5M3lXUlcKZnlQalZWd0Y4UDY3NkVS
        RmNzTFZuMk96UHNvYndnc25FcXhPTGw3WEFaL29nTG1pWlp3bWxYSE1LUExmTWxheApHc1JpSUJu
        ZmZRS0JnUUMxSHpnWFpHazEvZXo1b3Y1RFp4d3pVZE1LamVNUUhQRWNBdWg1ZWs0UG1YVGx0L1Z2
        CjVtSTRJZWtoam9FaGxtbHFxY0cwUVREWHArNWhxa2R1S0t3aU9vRU5MUFNRbnVOeE54bnlmSDRV
        VlhBSFdRcWcKc0xMNnZzQjd0NGpJdE1iZmpOREt2czVDLzkrSldJRlVHQzIvaUhNTlZYdVRYQjY3
        UlhtMUVDdTBJUUtCZ0RSMgplTHhoeElqYzRCdlVicC9GVTZvRjU1NVhzYW5WWEM1MlBabWxjamha
        YWlncTU3TnBmT0N4bmJoTTZWZnlPVlQyCnd4S0ZOOTdabnZQanpvMnhXRUxRRVJOL3I2eDBVS3po
        L0dtZERBVFBGZmZXNWNGa0RMRitZQjc5dE9ZczQvZTIKa0ovS3BJMGs4bFVTQXpqaVBjVVVOVjJ3
        cUFGWkVObkpSQjBFNUFzcEFvR0JBTlgxM3l4aEJHQ0JPdjc0OHZPTQpEL3g3OWlDS0FMbUVnNjlI
        YjNpMjNFaldWd3k1R2szVEFrWnJ2N0RBWmdEQWRKZVV6aHNzcWExazhsTFZwUU9iCjhLN0hFNVZL
        VGdsejkrOEVzdDY2WS8zRnhWd2szV0VSdVBWdklIVWk0VkpPSjFHa1hraFlmVUVvakM2V0ZTTUIK
        VER0M3g4bE5GZEZJVG1ENjFsZS9ZM1BHCi0tLS0tRU5EIFBSSVZBVEUgS0VZLS0tLS0K
      ssl_ca: |
        LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN0RENDQWgyZ0F3SUJBZ0lKQUllb25yc0RB
        bzFaTUEwR0NTcUdTSWIzRFFFQkJRVUFNR3N4RHpBTkJnTlYKQkFvVEJsVmlkVzUwZFRFck1Da0dB
        MVVFQ3hNaVZXSjFiblIxSUVOc2IzVmtJRU5sY25ScFptbGpZWFJsSUVGMQpkR2h2Y21sMGVURXJN
        Q2tHQTFVRUF4TWlWV0oxYm5SMUlFTnNiM1ZrSUVObGNuUnBabWxqWVhSbElFRjFkR2h2CmNtbDBl
        VEFlRncweE5UQXpNVGN5TURNM01EaGFGdzB4TmpBek1UWXlNRE0zTURoYU1Hc3hEekFOQmdOVkJB
        b1QKQmxWaWRXNTBkVEVyTUNrR0ExVUVDeE1pVldKMWJuUjFJRU5zYjNWa0lFTmxjblJwWm1sallY
        UmxJRUYxZEdodgpjbWwwZVRFck1Da0dBMVVFQXhNaVZXSjFiblIxSUVOc2IzVmtJRU5sY25ScFpt
        bGpZWFJsSUVGMWRHaHZjbWwwCmVUQ0JuekFOQmdrcWhraUc5dzBCQVFFRkFBT0JqUUF3Z1lrQ2dZ
        RUEwcmw2dGI0ejR2ZERBUlpIVzJEa3Z1Tm8KelVWUU81eFFieHZ0emJTOWdVc0FSUXJnQXVDdkpT
        NjVLM0QwNHZUTGxidkt5cXl4dGVuY29SajE2ZUdiK3FZdQpudkdma2dDRHAyVlQ4U2lxZkRoNDFU
        VmxiZHIvcEgrbGdnRGUrMGc5SW1JdnpCRnZOekxFOFFGUDJJa0pQUlJ4CnI2QnVWWGx4bHVWdVpD
        ZmEyLzhDQXdFQUFhTmdNRjR3RHdZRFZSMFRBUUgvQkFVd0F3RUIvekFkQmdOVkhRNEUKRmdRVUd3
        Q2dXYlVXTWpWYU1HR1pJK3hiV3VwWXVMb3dId1lEVlIwakJCZ3dGb0FVR3dDZ1diVVdNalZhTUdH
        WgpJK3hiV3VwWXVMb3dDd1lEVlIwUEJBUURBZ0VHTUEwR0NTcUdTSWIzRFFFQkJRVUFBNEdCQU1R
        YUErS1FqM3ZQCnhzVlRJeEQ2RnQyVTIrd1k3UDZjYmtXbDBpRjIrRTJROEVKdXEybWVEK3NzV3ky
        TkxhV1lPQlQzMFE2T3NFeTUKOUVsRDk0d3A3L3Bqczd1bzZZdUwzbWZ3TksyR2pjLzI4RTd2OUJq
        SVNHbkZxNFR5Ty9sL0oxY2JhYlpFWkFuUworb0ZsZkdOSURkN3dCRGdZeXY2MXFzRGNpVkh0d3oz
        SwotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
  neutron-openvswitch:
    num_units: 0
    charm: cs:~openstack-charmers-next/neutron-openvswitch
    options:
      debug: *debug
      verbose: *verbose
  cinder:
    num_units: 1
    charm: cs:~openstack-charmers-next/cinder
    constraints: mem=1G
    options:
      debug: *debug
      verbose: *verbose
      block-device: /dev/vdb
      ephemeral-unmount: "/mnt"
      overwrite: "true"
      glance-api-version: 2
      openstack-origin: cloud:__SERIES__-__RELEASE____POCKET__
      os-admin-network: *os_admin_network
      os-internal-network: *os_internal_network
      os-public-network: *os_public_network
      ssl_cert: |
        LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNvekNDQWd3Q0NRQzlTNjBSZzdQUDBUQU5C
        Z2txaGtpRzl3MEJBUXNGQURCck1ROHdEUVlEVlFRS0V3WlYKWW5WdWRIVXhLekFwQmdOVkJBc1RJ
        bFZpZFc1MGRTQkRiRzkxWkNCRFpYSjBhV1pwWTJGMFpTQkJkWFJvYjNKcApkSGt4S3pBcEJnTlZC
        QU1USWxWaWRXNTBkU0JEYkc5MVpDQkRaWEowYVdacFkyRjBaU0JCZFhSb2IzSnBkSGt3CkhoY05N
        VFV3TXpFM01qQXpOekE0V2hjTk1UWXdNekUyTWpBek56QTRXakE5TVE4d0RRWURWUVFLREFaVllu
        VnUKZEhVeEZUQVRCZ05WQkFzTURGVmlkVzUwZFNCRGJHOTFaREVUTUJFR0ExVUVBd3dLTVRBdU5T
        NHhNREF1TWpDQwpBU0l3RFFZSktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ0VCQU9OZnZ5
        OC82RGpOZWZHOVRhYS85YnpsCjdmakt3VWQ1LzBXaW9KUjl0S0x1RjU5SmpFMFUrRjc3TTNvUVND
        WFE2azY1RVdjcXNxWnVqK2JNMXVPNU4zUFkKcHoxbUpUYmV2RDc4MktISWVpRjZ2ZFY2eDhRdVgv
        QVhBZVR6YnFNZ0pkdWRCUTBMZDduZE9Wb2dnaVJYVDFyNgpIYkRUa1FNbEtwb0lXM2hwNTBhanMr
        K2d6S1piM1B6djVmTHA4V1Ixd2hOL0xPbFRrQnJVMUpXYk4rTnE5UTJmCmQwVlNEa1lRckxPUWR3
        SUtyUWZqQytrTkc4UXNEZEJ0OER0Y09FMytXcmhveVFlUVhnVFBaZURjd2lMekRjTFcKVXVoS05R
        RGFpc2tJQ0Uwc3AwdXNzTFVrU3ZBeVdRZjhId3lzR2pxenA2OHZkd1hIK29MNDdmdWk3WUxkR3Mw
        QwpBd0VBQVRBTkJna3Foa2lHOXcwQkFRc0ZBQU9CZ1FDMnR3QlcwMkRjeDVXSWdWWVlnN3ppcFpr
        UmVqVGxuYVNLCkw2RTZrU3FrblNNWFcwWXRWdUtuM0l4YXV2WXVkUGpnclJEY3JtRzltL0Y4WHNW
        aWE2eEpHRDNtZDZ2TXRjU1UKaDdOajdXYTFYaG91V2VPM0tlYlZYZVhhZjBneFR6V2U1ZXN0eXd2
        VjNKNmVjd1JxWHdTOUc3dlRBYjYvNHZCSQpoem9HNjcwaDFnPT0KLS0tLS1FTkQgQ0VSVElGSUNB
        VEUtLS0tLQo=
      ssl_key: |
        LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2d0lCQURBTkJna3Foa2lHOXcwQkFRRUZB
        QVNDQktrd2dnU2xBZ0VBQW9JQkFRRGpYNzh2UCtnNHpYbngKdlUybXYvVzg1ZTM0eXNGSGVmOUZv
        cUNVZmJTaTdoZWZTWXhORlBoZSt6TjZFRWdsME9wT3VSRm5LckttYm8vbQp6TmJqdVRkejJLYzla
        aVUyM3J3Ky9OaWh5SG9oZXIzVmVzZkVMbC93RndIazgyNmpJQ1hiblFVTkMzZTUzVGxhCklJSWtW
        MDlhK2gydzA1RURKU3FhQ0Z0NGFlZEdvN1B2b015bVc5ejg3K1h5NmZGa2RjSVRmeXpwVTVBYTFO
        U1YKbXpmamF2VU5uM2RGVWc1R0VLeXprSGNDQ3EwSDR3dnBEUnZFTEEzUWJmQTdYRGhOL2xxNGFN
        a0hrRjRFejJYZwozTUlpOHczQzFsTG9TalVBMm9ySkNBaE5MS2RMckxDMUpFcndNbGtIL0I4TXJC
        bzZzNmV2TDNjRngvcUMrTzM3Cm91MkMzUnJOQWdNQkFBRUNnZ0VBU0ovN2pCY0lrS1FwRUNyY0U2
        ZjYwT1JNVjR4RG9oWDRrSUI2ZEJPV3ovZm0KdWEwZlVEdWpmWXNWRFNjSU5IUC9jemV2dEZreUNQ
        RUZxNzIvNGFyMmFGMUtSZFZMaTdRblFxTTJlcTV6UENCZApaRU84YlJBMitwUU91ZGQ3ZmtVMWNt
        azhCTWVsN1VzWkY0Mk1wQmp6TXVieTl0a00xNGxXaXk2aU1OcjYwVmU4CmFzK2k5RHBscUN4S3Vr
        eXptMGhjUTVzV3RGTlVYTE5vYnI4KzVUVmx0MmtPSitPa015TXdaOXhDclV0RVFBaWwKY0tHNGtY
        YmJ6QjNMVnRJZjJYSGpJZzY0TUNVVEhpOFpCZEhHbGNoaGFObStxbDVDbElZQkFqOW9ZR3dJK0V4
        cApEWTVkL2hlQTMyRmhGaHlqcHF6NWUrcG1wMllKOEc2MEppS0RZNGNVd1FLQmdRRDFjNFZzYTI4
        aU4xeE5JdlUzCnQwWVFlK1dnb2RaVHUzZlNSY3FLb2h6bjNMR0Mzam1sOEc1Uk1FNXdwdFZSbSsy
        SmVCUUNLRW50QXoxZTBBNEUKeDRuTS93c3F6dksvWTMwUHcwY2hwK25hZE5DODgwbWoyWDNlcXYw
        K1JvSk5xU0RqaFVZUHF4RmltM0NvQkFyRwp3OE9idjdFSll2Sy9qSVdNU3Q2OWNHK1dmUUtCZ1FE
        dEpWYUlaOTBqYk1FZHhzRU9qS1RldTA0OEpZUG5uQWxoCjBuM0F3VzRDRTYzcUJVTUoyaVh6MFhn
        NEtRVHZFN00xS09QejZsU09haTlLWlJ5WEdsL09LWGFKNi82bExwZ1gKUk9yQVhranA2YW9wKzBD
        ZERrS0xLd00ySXdobkFvc0Fsb1J2bFFyZFJQUnY3MEhnc3YwMEgzdmFaVGw0cXI0RgorS1NxZlJ5
        MmtRS0JnUUM3NVFBWlhEREo5Nmt2MzNmcWUrRWwwMEtZY2VzNVZBUklzbVozTTl4KzNpSUJOWTda
        CjZiRDVjOHBJVUY1eVI3UlNETnI4UDgwL284QkNLWERoMWNJMmJITW5CUjhzeGNOQjR0SThBR2R6
        ZFFNcDhlL0kKZjBEc3lPWnQydG43QzJLQzZVNFZ4blhiajNSeEdnOEowMmlWZk92UWJLKzVWS0FU
        SW1sYWlZelNuUUtCZ1FETApBR3hyeGlWcUhyM05wSWM4MGk2TUwrRFA0ZmxoT1pSYWRkcUtOOHJZ
        NGttOUM1WVFoL3AzRmZnSWN5eXpEN1VYCnE1SS9DWGdxbFVFNE9RZlpYWTFucU55OVFoU3hDQXJQ
        MklIdi9JWUVIcTg0MHNqRDZTSVRpZFZzOFY1Tzk4RlAKMW9rMkQyckdjVEdoNURrTGhZejBvb0xl
        T0VxVFBlMytwSk1wRW9LUzBRS0JnUUNqdG5WU2JlMllwSUFQYUhHcQoyU3U4c2JMc3FNV3dVZURQ
        VnltbFJ6Nkc2L2hETzZBRldwUUFiV0tTMDd6Nko3Q21wZzI5TUFtTXoyRE8xcThiCnhBNlh1V0lD
        cklvazlCOXJweTVLZTM0eWJJZkhXelAvdmFqVVdTRXVBMm40MWM1SDE1c1d4bi9tKzhyRVZXWC8K
        SE51UWc0NjZDTWYvTEVpeWF5VEJOUi82OVE9PQotLS0tLUVORCBQUklWQVRFIEtFWS0tLS0tCg==
      ssl_ca: |
        LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN0RENDQWgyZ0F3SUJBZ0lKQUllb25yc0RB
        bzFaTUEwR0NTcUdTSWIzRFFFQkJRVUFNR3N4RHpBTkJnTlYKQkFvVEJsVmlkVzUwZFRFck1Da0dB
        MVVFQ3hNaVZXSjFiblIxSUVOc2IzVmtJRU5sY25ScFptbGpZWFJsSUVGMQpkR2h2Y21sMGVURXJN
        Q2tHQTFVRUF4TWlWV0oxYm5SMUlFTnNiM1ZrSUVObGNuUnBabWxqWVhSbElFRjFkR2h2CmNtbDBl
        VEFlRncweE5UQXpNVGN5TURNM01EaGFGdzB4TmpBek1UWXlNRE0zTURoYU1Hc3hEekFOQmdOVkJB
        b1QKQmxWaWRXNTBkVEVyTUNrR0ExVUVDeE1pVldKMWJuUjFJRU5zYjNWa0lFTmxjblJwWm1sallY
        UmxJRUYxZEdodgpjbWwwZVRFck1Da0dBMVVFQXhNaVZXSjFiblIxSUVOc2IzVmtJRU5sY25ScFpt
        bGpZWFJsSUVGMWRHaHZjbWwwCmVUQ0JuekFOQmdrcWhraUc5dzBCQVFFRkFBT0JqUUF3Z1lrQ2dZ
        RUEwcmw2dGI0ejR2ZERBUlpIVzJEa3Z1Tm8KelVWUU81eFFieHZ0emJTOWdVc0FSUXJnQXVDdkpT
        NjVLM0QwNHZUTGxidkt5cXl4dGVuY29SajE2ZUdiK3FZdQpudkdma2dDRHAyVlQ4U2lxZkRoNDFU
        VmxiZHIvcEgrbGdnRGUrMGc5SW1JdnpCRnZOekxFOFFGUDJJa0pQUlJ4CnI2QnVWWGx4bHVWdVpD
        ZmEyLzhDQXdFQUFhTmdNRjR3RHdZRFZSMFRBUUgvQkFVd0F3RUIvekFkQmdOVkhRNEUKRmdRVUd3
        Q2dXYlVXTWpWYU1HR1pJK3hiV3VwWXVMb3dId1lEVlIwakJCZ3dGb0FVR3dDZ1diVVdNalZhTUdH
        WgpJK3hiV3VwWXVMb3dDd1lEVlIwUEJBUURBZ0VHTUEwR0NTcUdTSWIzRFFFQkJRVUFBNEdCQU1R
        YUErS1FqM3ZQCnhzVlRJeEQ2RnQyVTIrd1k3UDZjYmtXbDBpRjIrRTJROEVKdXEybWVEK3NzV3ky
        TkxhV1lPQlQzMFE2T3NFeTUKOUVsRDk0d3A3L3Bqczd1bzZZdUwzbWZ3TksyR2pjLzI4RTd2OUJq
        SVNHbkZxNFR5Ty9sL0oxY2JhYlpFWkFuUworb0ZsZkdOSURkN3dCRGdZeXY2MXFzRGNpVkh0d3oz
        SwotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
  glance:
    num_units: 1
    charm: cs:~openstack-charmers-next/glance
    constraints: mem=1G
    options:
      debug: *debug
      verbose: *verbose
      openstack-origin: cloud:__SERIES__-__RELEASE____POCKET__
      os-admin-network: *os_admin_network
      os-internal-network: *os_internal_network
      os-public-network: *os_public_network
      ssl_cert: |
        LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNvekNDQWd3Q0NRQzlTNjBSZzdQUDBqQU5C
        Z2txaGtpRzl3MEJBUXNGQURCck1ROHdEUVlEVlFRS0V3WlYKWW5WdWRIVXhLekFwQmdOVkJBc1RJ
        bFZpZFc1MGRTQkRiRzkxWkNCRFpYSjBhV1pwWTJGMFpTQkJkWFJvYjNKcApkSGt4S3pBcEJnTlZC
        QU1USWxWaWRXNTBkU0JEYkc5MVpDQkRaWEowYVdacFkyRjBaU0JCZFhSb2IzSnBkSGt3CkhoY05N
        VFV3TXpFM01qQXpOekE1V2hjTk1UWXdNekUyTWpBek56QTVXakE5TVE4d0RRWURWUVFLREFaVllu
        VnUKZEhVeEZUQVRCZ05WQkFzTURGVmlkVzUwZFNCRGJHOTFaREVUTUJFR0ExVUVBd3dLTVRBdU5T
        NHhNREF1TXpDQwpBU0l3RFFZSktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ0VCQU1TU0ZW
        S3p4RDRSZFp6MGZDcUN4eVEyCnM0cDgzdHNDR2hPYVcvcEVIU0NMbmR6MzVaMWdEOTUzK0gzZHZL
        elB1Qy9GOEhDYmJ4djdYVTZWcFBOSWl5dUsKT0ozWU9IVThUdlYrbGFsWUZubXJYazFhVFF1blZU
        U0YvaVdvTVNXSkR0d0JLWk5lRzZxZ29GdzJ4eE9abm9IWgpMaU9nQTJUOEwrdHJMVnhac05pa3BX
        SkZUL2hCTDV1djI3SGZRSXMwb3ZtY0ZPQkVxcWxnTVhCakZVeVB1RUlwCjhCYnlxWE9acVg2NzdT
        eDRjc05vWE4vTXhIeTFEc25Rcm9MbTdSQmtJeC83V1FOc3BTUFNhMjhXb2E4SjNBUisKWHZob0Vo
        YWpXd2VpOHBOczVGajFRZmtteVBraGtESG5SVzROemNSdFNmSjlkTmVFQmdBcVJTc0o1V1o1cUlF
        QwpBd0VBQVRBTkJna3Foa2lHOXcwQkFRc0ZBQU9CZ1FDTVhVaHk5RE5DMkJDVkxIa1JxeWF0OGor
        T2hWUXBFZ0hmCnIzM2VIbjlpaGViK2x4c28xSTlBZnUyMkRabjd6bGZHRzVSTER5V1lFd1Btb3gr
        SmlzaFRPNUFCRWlROXhQbTYKMGduY01mbDdpQ3VDa3RYNVl1WkFEekswSkh0Ri8wSjAwT0ZxbUhz
        UnF3RXB4Rnp1UWFNYlNHdk83VDdWdHRCRgpoSzlzREY2QkhnPT0KLS0tLS1FTkQgQ0VSVElGSUNB
        VEUtLS0tLQo=
      ssl_key: |
        LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2UUlCQURBTkJna3Foa2lHOXcwQkFRRUZB
        QVNDQktjd2dnU2pBZ0VBQW9JQkFRREVraFZTczhRK0VYV2MKOUh3cWdzY2tOck9LZk43YkFob1Rt
        bHY2UkIwZ2k1M2M5K1dkWUEvZWQvaDkzYnlzejdndnhmQndtMjhiKzExTwpsYVR6U0lzcmlqaWQy
        RGgxUEU3MWZwV3BXQlo1cTE1TldrMExwMVUwaGY0bHFERWxpUTdjQVNtVFhodXFvS0JjCk5zY1Rt
        WjZCMlM0am9BTmsvQy9yYXkxY1diRFlwS1ZpUlUvNFFTK2JyOXV4MzBDTE5LTDVuQlRnUktxcFlE
        RncKWXhWTWo3aENLZkFXOHFsem1hbCt1KzBzZUhMRGFGemZ6TVI4dFE3SjBLNkM1dTBRWkNNZisx
        a0RiS1VqMG10dgpGcUd2Q2R3RWZsNzRhQklXbzFzSG92S1RiT1JZOVVINUpzajVJWkF4NTBWdURj
        M0ViVW55ZlhUWGhBWUFLa1VyCkNlVm1lYWlCQWdNQkFBRUNnZ0VCQUlsb1pLZHZLbHNJOFdKS05S
        R3lZV3FiSWw1SWM3QThnK1g0SFJ1UXladWEKZlR1ZHZsQ0llZzlWWmNyMldaR2prbWt5d0tTMndy
        Q1l3ZHpSRm9GSjBKOGEvQUM2eUp5TEQ5YmtLZEk2MVZzdgp3N2ZteTd5OXQvNERQR2t1YlV5RHhu
        TmNES2dMUE9QRmJOT0pKeGc0Wm1qMlhCNWpHSHhiSFZRL2szSGU4SlEvCktkeXZCMlhMZ0MyQW4v
        VjVYMWpVSEtQaW1SazBDd1RRVFZ4QlZJTHZubUZTaUZzR2dxNTUrSFpqNTRnUW1NWGIKSmZDbVRn
        dWtIUkZQN1dqVEMxQ2VnQ2hiSHpuYWFHc2QvaVhjcHZhNGlid3R4cXIrK1ZZcHV1VEM0MGk4Ym51
        TApRVUFVQmNFYzV3Y1gwdTJzOFJBa0ZpTWQzQXBCVmViRFZqRUw4a0pzM05FQ2dZRUE2RUpXZGpZ
        MWRyajVxTU4zCjNTaTIvQlR4VXhYcWV4ZVBRNnQ4d0YwV0FEdExudkpPZWJWT0tKMGlOYzBYK2Z4
        TXlnaUN4QjdaOXJmYTNDY2wKbkdRNDYwUit4VU5HNHBFeUtWazFEUUJmNWRJdndjK3VFaXNPUlJL
        YS9qRHB2dUJRUWNHRW5zTmhPV09qS2JleApNaks5UUVQY2RSNmdQUFg4ZGYyME1xMjJ6OWNDZ1lF
        QTJLbmRGSVJ6QURTM3NEbmhQM21KKzIzcDlxMUp1N3hQCnZqN0ZlRUFmSGpHT1dvdHlFRExuSUNP
        Smx2Q054bXBwMmlzRTVVbUdqZEJPWTJ1T1BWRkFqMnJibVVuWnRJRXoKUFVJWnYwKzhuNDRudElO
        SjRRdWtBdHE4SXJrYlBEblk4V2JLSHRPTERQUTUvbVowQ2pUZjhzRFMyVjE3M25QZwpMTGdRSkZN
        bkgyY0NnWUJhOUllcG1ZY01iRm9ROWlOOXI1RWhYUTQ0ckc5OEx2akMxbWh2YU1UUjZHYXY0MUpL
        CkpXOXJSa1g4YmNvQzh3UWJab1BYVEFHdHRjaDJ5TG5ZNmdMRVY3bVJoTXhBcy8zQjVaWjU5ZmlZ
        SnR6ZStIYkIKMUt5czdpRldoRTgxbWVDMEw1WEJHdUI3T2dMT3Rvb2xEMnUvdkJPY3BoYTRhTmlx
        V0dWMkowTmRWd0tCZ0hyVgpXcHgrTnNDZ0lwL0xRTE4rMFVaMVd4Wlp5aHFnT1VsdlJ2N1V3NCtY
        b3RBY2pJODRmS1pRMzNsdWFjSmFwQ1puCkMwQit2Y1Q2bXVac25OaVFqeHlBQlgzVFM1UzFSdnBz
        MWpJTEg3SUpvdU1KSjhKcG1oTndOUWN1a0kxRmNvUHgKdFpkaWNVdm56bFUzZW9RcTAraEpmNEJ5
        S243RWpReHRVZUYyTHhEekFvR0FKYmVZMUsvdGUzN0xHaDNDK1BzNwpRYmVLYXk0Tk9KNVVPZlNF
        MFlET0dhaU82VWNSaGVZNVZVNittY3AzbUtEdDUwNzJZWXh1ZjZGbHVyT1lGTDBqCnU1dUpLZytO
        Wk5aV3lqZHBsWlA5MVozMWt4Yzc5RVI4b24wNUYxQzN1eWhmT0EwMU54RUk0U3g5ZldkQityaTcK
        MzQzb1huUUs4M3VBYXpyd0t4d3RJVlk9Ci0tLS0tRU5EIFBSSVZBVEUgS0VZLS0tLS0K
      ssl_ca: |
        LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN0RENDQWgyZ0F3SUJBZ0lKQUllb25yc0RB
        bzFaTUEwR0NTcUdTSWIzRFFFQkJRVUFNR3N4RHpBTkJnTlYKQkFvVEJsVmlkVzUwZFRFck1Da0dB
        MVVFQ3hNaVZXSjFiblIxSUVOc2IzVmtJRU5sY25ScFptbGpZWFJsSUVGMQpkR2h2Y21sMGVURXJN
        Q2tHQTFVRUF4TWlWV0oxYm5SMUlFTnNiM1ZrSUVObGNuUnBabWxqWVhSbElFRjFkR2h2CmNtbDBl
        VEFlRncweE5UQXpNVGN5TURNM01EaGFGdzB4TmpBek1UWXlNRE0zTURoYU1Hc3hEekFOQmdOVkJB
        b1QKQmxWaWRXNTBkVEVyTUNrR0ExVUVDeE1pVldKMWJuUjFJRU5zYjNWa0lFTmxjblJwWm1sallY
        UmxJRUYxZEdodgpjbWwwZVRFck1Da0dBMVVFQXhNaVZXSjFiblIxSUVOc2IzVmtJRU5sY25ScFpt
        bGpZWFJsSUVGMWRHaHZjbWwwCmVUQ0JuekFOQmdrcWhraUc5dzBCQVFFRkFBT0JqUUF3Z1lrQ2dZ
        RUEwcmw2dGI0ejR2ZERBUlpIVzJEa3Z1Tm8KelVWUU81eFFieHZ0emJTOWdVc0FSUXJnQXVDdkpT
        NjVLM0QwNHZUTGxidkt5cXl4dGVuY29SajE2ZUdiK3FZdQpudkdma2dDRHAyVlQ4U2lxZkRoNDFU
        VmxiZHIvcEgrbGdnRGUrMGc5SW1JdnpCRnZOekxFOFFGUDJJa0pQUlJ4CnI2QnVWWGx4bHVWdVpD
        ZmEyLzhDQXdFQUFhTmdNRjR3RHdZRFZSMFRBUUgvQkFVd0F3RUIvekFkQmdOVkhRNEUKRmdRVUd3
        Q2dXYlVXTWpWYU1HR1pJK3hiV3VwWXVMb3dId1lEVlIwakJCZ3dGb0FVR3dDZ1diVVdNalZhTUdH
        WgpJK3hiV3VwWXVMb3dDd1lEVlIwUEJBUURBZ0VHTUEwR0NTcUdTSWIzRFFFQkJRVUFBNEdCQU1R
        YUErS1FqM3ZQCnhzVlRJeEQ2RnQyVTIrd1k3UDZjYmtXbDBpRjIrRTJROEVKdXEybWVEK3NzV3ky
        TkxhV1lPQlQzMFE2T3NFeTUKOUVsRDk0d3A3L3Bqczd1bzZZdUwzbWZ3TksyR2pjLzI4RTd2OUJq
        SVNHbkZxNFR5Ty9sL0oxY2JhYlpFWkFuUworb0ZsZkdOSURkN3dCRGdZeXY2MXFzRGNpVkh0d3oz
        SwotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
  mysql:
    num_units: 1
    charm: cs:~openstack-charmers-next/percona-cluster
    constraints: mem=4G
    options:
      dataset-size: 50%
      max-connections: 20000
      root-password: ChangeMe123
      sst-password: ChangeMe123
      source: cloud:__SERIES__-__RELEASE____POCKET__
relations:
  - [ keystone-hacluster, keystone ]
  - [ keystone, mysql ]
  - [ nova-cloud-controller, mysql ]
  - [ nova-cloud-controller, rabbitmq-server ]
  - [ nova-cloud-controller, glance ]
  - [ nova-cloud-controller, keystone ]
  - [ nova-compute, nova-cloud-controller ]
  - [ nova-compute, mysql ]
  - - nova-compute
    - rabbitmq-server:amqp
  - [ nova-compute, glance ]
  - [ glance, mysql ]
  - [ glance, keystone ]
  - [ glance, "cinder:image-service" ]
  - [ glance, rabbitmq-server ]
  - [ cinder, mysql ]
  - [ cinder, rabbitmq-server ]
  - [ cinder, nova-cloud-controller ]
  - [ cinder, keystone ]
  - [ neutron-gateway, nova-cloud-controller ]
  - [ openstack-dashboard, keystone ]
  - [ "neutron-gateway:amqp", rabbitmq-server ]
  - [ neutron-api, mysql ]
  - [ neutron-api, rabbitmq-server ]
  - [ neutron-api, nova-cloud-controller ]
  - [ neutron-api, neutron-openvswitch ]
  - [ neutron-api, keystone ]
  - [ neutron-api, neutron-gateway ]
  - [ neutron-openvswitch, nova-compute ]
  - [ neutron-openvswitch, rabbitmq-server ]
