# vim: set ts=2 et:
# IMPORTANT: ALL MODIFICATIONS SHOULD BE MADE TO THE TEMPLATE THEN REGENERATE
#            THE BUNDLE WITH generate-bundle.sh 
# Juju 2.x native deployer bundle for development ('next') charms

## Variables
debug:                      &debug                     True
verbose:                    &verbose                   True
openstack_origin:           &openstack_origin          __OS_ORIGIN__
source:                     &source                    __SOURCE__

series: __SERIES__
services:
  rabbitmq-server:
    num_units: 1
    charm: cs:~openstack-charmers-next/rabbitmq-server
    constraints: mem=1G
    options:
      source: *source
  ceph-mon:
    charm: cs:~openstack-charmers-next/ceph-mon
    num_units: 1
    constraints: mem=1G
    options:
      monitor-count: 1
      monitor-secret: AQCXrnZQwI7KGBAAiPofmKEXKxu5bUzoYLVkbQ==
      source: *source
  ceph-osd:
    charm: cs:~openstack-charmers-next/ceph-osd
    num_units: 3
    constraints: mem=1G
    options:
      osd-devices: /dev/vdb
      ephemeral-unmount: /mnt
      source: *source
  keystone:
    num_units: 1
    charm: cs:~openstack-charmers-next/keystone
    constraints: mem=1G
    options:
      debug: *debug
      verbose: *verbose
      admin-password: openstack
      admin-token: ubuntutesting
      openstack-origin: *openstack_origin
  openstack-dashboard:
    num_units: 1
    charm: cs:~openstack-charmers-next/openstack-dashboard
    constraints: mem=1G
    options:
      openstack-origin: *openstack_origin
  nova-compute:
    charm: cs:~openstack-charmers-next/nova-compute
    num_units: 3
    constraints: mem=4G
    options:
      debug: *debug
      verbose: *verbose
      enable-live-migration: True
      enable-resize: True
      migration-auth-type: ssh
      libvirt-image-backend: rbd
      openstack-origin: *openstack_origin
  nova-cloud-controller:
    num_units: 1
    charm: cs:~openstack-charmers-next/nova-cloud-controller
    constraints: mem=1G
    options:
      debug: *debug
      verbose: *verbose
      network-manager: Neutron
      openstack-origin: *openstack_origin
  neutron-gateway:
    num_units: 1
    charm: cs:~openstack-charmers-next/neutron-gateway
    constraints: mem=4G
    options:
      debug: *debug
      verbose: *verbose
      instance-mtu: 1300
      bridge-mappings: physnet1:br-ex
      openstack-origin: *openstack_origin
  neutron-api:
    num_units: 1
    charm: cs:~openstack-charmers-next/neutron-api
    constraints: mem=1G
    options:
      debug: *debug
      verbose: *verbose
      neutron-security-groups: True
      flat-network-providers: physnet1
      openstack-origin: *openstack_origin
  neutron-openvswitch:
    charm: cs:~openstack-charmers-next/neutron-openvswitch
    options:
      debug: *debug
      verbose: *verbose
  cinder:
    num_units: 1
    constraints: mem=1G
    charm: cs:~openstack-charmers-next/cinder
    options:
      debug: *debug
      verbose: *verbose
      block-device: ""
      glance-api-version: 2
      openstack-origin: *openstack_origin
  cinder-ceph:
    charm: cs:~openstack-charmers-next/cinder-ceph
  glance:
    num_units: 1
    charm: cs:~openstack-charmers-next/glance
    constraints: mem=1G
    options:
      debug: *debug
      verbose: *verbose
      openstack-origin: *openstack_origin
  mysql:
    num_units: 1
    charm: cs:~openstack-charmers-next/percona-cluster
    constraints: mem=4G
    options:
      dataset-size: 50%
      max-connections: 20000
      root-password: ChangeMe123
      sst-password: ChangeMe123
      source: *source
  ceilometer:
    num_units: 1
    charm: cs:~openstack-charmers-next/ceilometer
    constraints: mem=1G
    options:
      debug: *debug
      verbose: *verbose
      openstack-origin: *openstack_origin
  ceilometer-agent:
    charm: cs:~openstack-charmers-next/ceilometer-agent
    options:
      openstack-origin: *openstack_origin
  heat:
    num_units: 1
    charm: cs:~openstack-charmers-next/heat
    options:
      debug: *debug
      verbose: *verbose
      openstack-origin: *openstack_origin
  mongodb:
    num_units: 1
    charm: cs:mongodb
    constraints: mem=1G
  aodh:
    charm: cs:aodh
    constraints: mem=1G
  memcached:
    charm: cs:memcached
    constraints: mem=1G
  designate:
    charm: cs:designate
    constraints: mem=1G
    options:
      nameservers: 'ns1.ubuntu.com'
      nova-domain: 'stsstack.ubuntu.com.'
      neutron-domain: 'stsstack.ubuntu.com.'
      nova-domain-email: 'seymore@stsstack.ubuntu.com'
      neutron-domain-email: 'seymore@stsstack.ubuntu.com'
  designate-bind:
    charm: cs:designate-bind
  barbican:
    charm: cs:~openstack-charmers/barbican
    constraints: mem=1G
  gnocchi:
    charm: cs:~openstack-charmers-next/gnocchi
  memcached:
    charm: cs:memcached
relations:
  - [ keystone, mysql ]
  - [ nova-cloud-controller, mysql ]
  - [ nova-cloud-controller, rabbitmq-server ]
  - [ nova-cloud-controller, glance ]
  - [ nova-cloud-controller, keystone ]
  - [ ceph-mon, ceph-osd ]
  - [ nova-compute, nova-cloud-controller ]
  - [ nova-compute, mysql ]
  - - nova-compute
    - rabbitmq-server:amqp
  - [ nova-compute, glance ]
  - [ nova-compute, ceph-mon ]
  - [ nova-compute, cinder-ceph ]
  - [ glance, mysql ]
  - [ glance, keystone ]
  - [ glance, ceph-mon ]
  - [ glance, "cinder:image-service" ]
  - [ glance, rabbitmq-server ]
  - [ cinder, mysql ]
  - [ cinder, rabbitmq-server ]
  - [ cinder, nova-cloud-controller ]
  - [ cinder, keystone ]
  - [ cinder, cinder-ceph ]
  - [ cinder-ceph, ceph-mon ]
  - [ neutron-gateway, nova-cloud-controller ]
  - [ "openstack-dashboard:identity-service", "keystone:identity-service" ]
  - [ "neutron-gateway:amqp", rabbitmq-server ]
  - [ neutron-api, mysql ]
  - [ neutron-api, rabbitmq-server ]
  - [ neutron-api, nova-cloud-controller ]
  - [ neutron-api, neutron-openvswitch ]
  - [ neutron-api, keystone ]
  - [ neutron-api, neutron-gateway ]
  - [ neutron-openvswitch, nova-compute ]
  - [ neutron-openvswitch, rabbitmq-server ]
  - [ ceilometer, "keystone:identity-service" ]
  - [ ceilometer, rabbitmq-server ]
  - [ ceilometer, mongodb ]
  - [ ceilometer-agent, nova-compute ]
  - [ ceilometer-agent, ceilometer ]
  - [ heat, mysql ]
  - [ heat, keystone ]
  - [ heat, rabbitmq-server ]
  - [ aodh, rabbitmq-server ]
  - [ aodh, mysql ]
  - [ aodh, keystone ]
  - [ designate, keystone ]
  - [ designate, mysql ]
  - [ designate, rabbitmq-server ]
  - [ designate, designate-bind ]
  - [ designate, memcached ]
  - [ barbican, rabbitmq-server ]
  - [ barbican, mysql ]
  - [ barbican, keystone ]
  - [ gnocchi, ceph-mon ]
  - [ gnocchi, mysql ]
  - [ gnocchi, rabbitmq-server ]
  - [ gnocchi, memcached ]
  - [ gnocchi, ceilometer ]
  - [ gnocchi, keystone ]
  - [ ceilometer, "keystone:identity-credentials" ]
  - [ "designate:dnsaas", "neutron-api:external-dns" ]

