# This is a Juju bundle template and is part of
# https://git.launchpad.net/stsstack-bundles.
# The template is used in conjunction with the provided generate-bundle.sh tool
# to generate a Juju bundle along with optional overlays. If you need to make
# modifications it is suggested to make them to the template then re-generate
# your bundle.

series: __SERIES__
relations:
  - [ swift-proxy, glance ]
